.control {
  position: relative;
  &__heading {
    margin-bottom: 0.8rem;
    font-size: 1.428rem;
  }
  &__video {
    width: 100%;
    height: 31rem;
    min-height: 31rem;
  }
  &__section-title {
    margin-bottom: 2.214rem;
    margin-top: -27.5rem;
  }
  &__text {
    max-width: 40.785rem;
    margin: auto;
    text-align: center;
    font-size: 1.428rem;
    line-height: 2.4rem;
    margin-bottom: 4.4rem;
    &::before {
      content: '';
      width: 3.928rem;
      height: 0.142rem;
      display: block;
      border-radius: 2.142rem;
      background-color: $primary;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 55rem;
    &--hidden {
      display: none;
    }
  }
  &__policy {
    position: relative;
    flex-basis: 100%;
    margin-top: 1.1rem;
    div.invalid {
      position: absolute;
      top: 2.5rem;
      left: 20rem;
    }
    &-label {
      justify-content: center;
    }
  }
  &__input-group {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: 30%;
    div.invalid {
      position: absolute;
      top: 3.357rem;
      left: 0;
    }
  }
  &__label {
    margin-bottom: -0.357rem;
    color: rgba(54, 54, 54, 0.5);
    font-size: 1.07rem;
  }
  &__button {
    padding: 1.129rem 4.393rem;
    font-size: 1.07rem;
    border: 0.071rem solid $primary;
    transition: all 0.3s;
  }
  &__input {
    color: #363636;
    &::placeholder {
      color: #363636;
    }
    &::-moz-placeholder {
      color: #363636;
      opacity: 1;
    }
  }
  &__send-success {
    display: none;
    align-self: center;
    text-align: center;
    flex-direction: column;
    &--visible {
      display: flex;
    }
  }
}

.video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark url('../img/video-mask.jpg') no-repeat center;
    box-shadow: 0px 1.428rem 3.571rem rgba(0, 0, 0, 0.15);
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(black, 0.8);
      position: absolute;
      top: 0;
      left: 0;
  }
  &__play {
    position: relative;
    width: 145px;
    height: 145px;
    //border-radius: 50%;
  }

  &-wrap {
    //position: relative;
    margin: auto;
    max-width: 58.357rem;
    //min-height: 31rem;
    margin-bottom: 4.4rem;
  }

}