.design {
  &__section-title {
    margin-bottom: 1.4rem;
  }
  &__text {
    margin: 0 auto 3.4rem auto;
    max-width: 52.93rem;
  }
  &__pricetag {
    padding: 1.214rem 5.5rem 1.214rem 2.36rem;
  }
}