.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1.714rem 0;
  background-color: $dark;
  z-index: 99;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $primary;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.071rem;
  font-family: 'Futura Demi', sans-serif;
  &:focus {
    outline: none;
  }
}

.nav {
  &__item {
    text-decoration: none;
    color: $light;
    text-transform: uppercase;
    margin-right: 2.6rem;
    transition: color 0.2s;
    /*&:hover {
      color: $primary;
    }*/
    &:focus {
      outline: none;
    }
  }
}

.phone {
  font-family: 'Futura Demi', sans-serif;
  color: $primary;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.contacts {
  display: flex;
  align-items: center;
  &__phone {
    display: flex;
    flex-direction: column;
    margin-right: 3.3rem;
    &::after {
      content: '';
      height: 0.071rem;
      width: 100%;
      background-color: $primary;
    }
  }
  &__button {
    padding: 0.714rem 1.643rem;
    border: 0.071rem solid $primary;
  }
}