.our-team {
  padding-bottom: 6.57rem;
  &__section-title {
    margin-top: -33.5rem;
  }
  &__heading {
    margin-bottom: 0.928rem;
  }
  &__text {
    max-width: 32rem;
    margin: auto;
    margin-top: 1.3rem;
    margin-bottom: 6rem;
    &--dark {
      max-width: 40.57rem;
      margin-top: 3.785rem;
      margin-bottom: 0;
      line-height: 2.428rem;
      &::before {
        display: block;
        content: '';
        width: 3.928rem;
        height: 0.142rem;
        background-color: $primary;
        margin: auto;
        margin-bottom: 0.5rem;
      }
    }
    &--light {
      color: $light;
    }
  }
  &__row {
    justify-content: space-around;
   // flex-wrap: wrap;
  }
  &__col {
    flex-basis: 19.428rem;
  }
  &__img {
    position: relative;
    width: 100%;
    height: 25.571rem;
    overflow: hidden;
    & > img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
    &--wrap {
      position: relative;
      display: flex;
    }
  }
  &__icon {
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 50;
    &--primary {
      background-color: $primary;
      box-shadow: 0rem 0.357rem 1.428rem rgba(227, 184, 115, 0.5);
    }
  }
  &__people {
    position: relative;
    width: 85%;
    max-width: 16.642rem;
    margin: auto;
    margin-top: -5.714rem;
  }
  &__name {
    display: block;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    font-size: 1.285rem;
    line-height: 1.785rem;
    text-align: center;
    color: $black;
    padding: 1.428rem;
    background-color: $light;
  }
  &__position {
    display: block;
    font-family: 'Futura Book', sans-serif;
    font-weight: normal;
    font-size: 1.285rem;
    line-height: 2rem;
    text-align: center;
    color: $secondary;
  }
  &__experience {
    display: block;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    font-size: 0.928rem;
    line-height: 1.428rem;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0.857rem;
    padding-bottom: 0.928rem;
    &--primary {
      background-color: $primary;
      color: $light;
    }
  }
}