.projects {
  position: relative;
  margin-top: -3.46rem;
  padding-top: 12.67rem;
  padding-bottom: 30rem;
  background: url('../img/project/city-bg--left.png') no-repeat bottom left, url('../img/project/city-bg--right.png') no-repeat bottom right, $dark url('../img/projects-bg.svg') no-repeat center;
  background-size: auto, auto, cover;
  &__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: -15.6%;
  }
  &__swiper-slide {
    margin-bottom: 4.55rem;
  }
  &__heading {
    font-size: 1.93rem;
    line-height: 2.64rem;
    letter-spacing: -0.07em;
  }
  &__text {
    &:nth-of-type(2n+1) {
      width: 33.5%;
    }
    &:nth-of-type(2n+2) {
      width: 66.5%;
    }
  }
}
