.steps {
  padding-top: 30.5rem;
  padding-bottom: 35.85rem;
  &__title {
    font-size: 1.928rem;
    margin-bottom: 6.2rem;
  }
  &__word {
    &::after {
      margin-left: 6.4rem;
    }
  }
  &__subtitle {
    margin-bottom: 1.2rem;
  }
  &__text {
    flex-basis: 24.071rem;
    margin-bottom: 5.5rem;
  }
  &__heading {
    width: 18.714rem;
    line-height: 1.642rem;
    margin-bottom: 0.6rem;
    font-size: 1.071rem;
    text-transform: uppercase;
  }
  &__swiper-container {
    &--right {
      max-width: 54.642rem;
      margin-left: 0;
    }
  }
  &__swiper-slide-img {
    position: relative;
    width: 100%;
    height: 26.857rem;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  &__number {
    margin-bottom: 1.57rem;
  }
  &__toggle-buttons {
    margin-top: 6.2rem;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__toggle-button {
    flex-basis: 42.5%;
    margin-bottom: 3rem;
    &:nth-of-type(3n+3) {
      flex-basis: 15%;
    }
    &--light {
      color: $light;
      &::after {
        display: block;
        content: '';
        width: 1.142rem;
        height: 0.142rem;
        background-color: $primary;
      }
    }
  }
  &__value {
    margin-top: 0;
    line-height: 1.785rem;
    font-size: 1.071rem;
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }
}

.toggle-button {
  &__content {
    max-width: 9.285rem;
    color: $light;
    opacity: 0.3;
    transition: all 0.3s;
    &--active {
      opacity: 1;
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  &__heading {
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 1.071rem;
    line-height: 1.5rem;
    margin: 0;
  }
  &__value {
    display: block;
    font-size: 1.071rem;
    line-height: 1.285rem;
    margin-top: 0.5rem;
  }
}

.slide-2 {
  max-width: 8.428rem;
}

.slide-5 {
  max-width: 9.571rem;
}