.styles {
  position: relative;
  background: $dark url('../img/styles/styles-bg.jpg') no-repeat center / cover;
  padding: 8.071rem 0 5.357rem;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__col {
    position: relative;
    &--left {
      max-width: 29.357rem;
    }
    &--right {
      width: 65%;
      max-width: 53.714rem;
      margin-right: 1.071rem;
    }
  }
  &__heading {
    //max-width: 411px;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    font-size: 1.928rem;
    line-height: 2.642rem;
    text-transform: uppercase;
    color: $primary;
  }
  &__toggle-buttons {
    list-style-type: none;
    padding: 0;
    max-width: 19.214rem;
    margin-top: 3rem;
  }
  &__toggle-button {
    margin-bottom: 1.5rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__link {
    font-family: 'Futura Book', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.714rem;
    color: $light;
    transition: all 0.3s;
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 55%;
      background-color: transparent;
      transition: all 0.3s;
    }
    &:hover {
      color: $primary;
    }
    &:hover::after {
      background-color: $primary;
    }
    &--active {
      color: $primary;
      &::after {
        background-color: $primary;
      }
    }
  }
  &__swiper-container {
    position: absolute;
    width: 100%;
    height: 72.857rem;
    top: -16.071rem;
  }
  &__swiper-slide {
    display: flex;
    justify-content: space-between;
  }
  &__slide-col {
    width: 25.285rem;
    &:first-of-type {
      align-self: flex-end;
    }
  }
  &__slide-img-1 {
    margin-bottom: 2.571rem;
    position: relative;
    width: 100%;
    min-height: 39.785rem;
    overflow: hidden;
  }
  &__slide-img-2 {
    position: relative;
    width: 100%;
    min-height: 25rem;
    overflow: hidden;
  }
  &__slide-img-3 {
    margin-bottom: 2.357rem;
    position: relative;
    width: 100%;
    min-height: 19.642rem;
    overflow: hidden;
  }
  &__slide-img-4 {
    position: relative;
    width: 100%;
    min-height: 44.714rem;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &__swiper-button-next, &__swiper-button-prev {
    display: none;
  }


}