.container {
  width: 85%;
  max-width: 1256px;
  margin: auto;
}


.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  &-30 {
    width: 30%;
  }
  &-35 {
    width: 35%;
  }
  &-38 {
    width: 37.7%;
  }
  &-45 {
    width: 45%;
  }
  &-50 {
    width: 50%;
  }
  &-55 {
    width: 55%;
  }
  &-65 {
    width: 65%;
  }
}
