@media screen and (max-width: 1270px) {
  .nav {
    &__item {
      margin-right: 1.5rem;
    }
  }
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }

  .nav {
    &__item {
      margin-right: 1rem;
    }
  }

  .projects {
    &__text {
      &:nth-of-type(2n+1),
      &:nth-of-type(2n+2) {
        width: 50%;
      }
    }
    &__swiper-slide {
      margin-bottom: 2.57rem;
    }
  }

  .measure {
    &__text {
      &:first-of-type {
        margin-top: 9.428rem;
        margin-right: 2rem;
      }
      &:nth-of-type(2) {
        margin-top: 5.2rem;
        margin-right: 9.285rem;
      }
      &:nth-of-type(3) {
        margin-top: 10rem;
        margin-right: 4.071rem;
      }
      &:last-of-type {
        margin-top: 9.571rem;
        margin-right: -0.5rem;
      }
    }
    &__col {
      &--left {
        max-width: 542px;
        background: url('../img/measure/build.png') no-repeat -12.428rem 0, url('../img/measure/circle.svg') no-repeat -14.428rem 3.785rem;
      }
    }
  }



}







@media screen and (max-width: 992px) {
  .projects {
    margin-top: 0;
    padding-top: 7.57rem;
    &__swiper-slide {
      &--right {
        min-height: 24.428rem;
      }
    }
    &__section-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__heading {
      display: flex;
    }
    &__row {
      flex-direction: column;
      align-items: center;
      margin-top: 2.57rem;
      width: 100%;
    }
    &__swiper-container {
      &--right {
        margin-left: 0;
      }
    }
  }

  .measure {
    display: none;
  }

  .steps {
    display: none;
  }

  .nav {
    display: none;
  }

  .hero {
    &__instagram {
      display: none;
    }

    &__content {
      margin-left: 0;
    }
  }

  .col-85 {
    width: 69%;
    margin-bottom: 2.36rem;
  }



  .section-title {
    &__word {
      margin-left: 6px;
      justify-content: center;

      &::after {
        display: none;
      }
    }

    &__text {
      max-width: 52.93rem;
    }
  }

  .design {
    margin-bottom: 0;
  }

  .our-team {
    background: $dark url('../img/projects-bg.svg') no-repeat center / cover;
    &__row {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__col {
      width: 45%;
      flex-basis: 25rem;
      &:last-of-type {
        margin-top: 6.357rem;
      }
    }
    &__section-title {
      margin-top: 0;
    }
    &__heading {
      color: $light;
    }
    &__text {
        color: $light;
    }
  }


  .our-clients {
  padding-top: 4rem;
    &__col {
      width: 45%;
      &:last-of-type {
        display: none;
      }
    }
  }
}




@media screen and (max-width: 768px) {
  .vector-bg {
    background: none;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-31 {
    width: auto;
    flex-basis: 392px;
  }

  .types {
    &__card {
      margin-bottom: 5rem;
    }
  }

  .design {
    background-color: $dark;
    padding-bottom: 5.428rem;

    &__pricetag {
      padding-left: 3.6rem;
      padding-right: 3.6rem;
    }

    &__card {
      margin-bottom: 5rem;
    }

    &__section-title {
      color: $light;
    }

    &__text {
      color: $light;
    }

    &__list {
      .card__item:nth-child(7)::after {
        content: ' ...';
      }
    }

    &__img {
      &::before {
        display: none;
      }
    }
  }

  .card {
    &__text {
      margin-left: 0;
    }

    &__item:nth-child(n+8) {
      display: none;
    }
  }

  .projects {
    padding-bottom: 0;
    &__swiper-slide {
      &--right {
        min-height: 202px;
      }
    }
  }

  .control {
    background: $dark;
    color: $light;

    &__video {
      width: auto;
      min-height: 207px;
      background-size: cover;
    }

    &__section-title {
      margin-top: 0;
    }

    &__video {
      margin-bottom: 2rem;
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 24.285rem;
    }

    &__input-group:first-of-type {
      margin-bottom: 4.5rem;
    }

    &__label {
      margin-bottom: -5px;
      color: rgba(255, 255, 255, 0.5)
    }

    &__input {
      color: $light;

      &::placeholder {
        color: $light;
      }
    }

    &__policy {
      margin-top: 1rem;

      &-label {
        justify-content: left;
      }
    }

    &__button {
      margin-top: 4.428rem;
      margin-bottom: -7rem;
      order: 5;
    }

    &__text {
      &::before {
        margin-bottom: 1.5rem;
      }
    }
  }

  .video {
    &__play {
      width: 55px;
    }
  }
  .our-team {
    padding-top: 0;
    padding-bottom: 0;
    &_row {
      flex-direction: column;
    }
    &__col {
      margin-bottom: 6.357rem;
      &:last-of-type {
        margin-top: 0;
      }
    }
    &__text {
      &--dark {
        display: none;
      }
    }
  }

  .our-clients {
    display: none;
  }

  .footer {
    background-color: $dark;
    background-image: none;
    padding-top: 0;
    &__menu {
      display: none;
    }

    &__wrap {
      width: 100%;
      margin-top: 0;
      background-color: $dark;
      background-image: none;
      margin-bottom: 0;
    }
    &__form {
      flex-direction: column;
    }
    &__policy {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 4.785rem;
    }
    &__button {
      max-width: 340px;
      width: 100%;
    }
    &__input {
      &-group {
        flex-basis: 100%;
        margin-bottom: 4.428rem;
        &--full-width {
          flex-basis: 100%;
          margin-bottom: 1.571rem;
        }
      }
    }
    &__contacts {
      font-size: 1.285rem;
      order: 5;
    }

  &__map {
   height: 255px;
  }
  }

}


@media screen and (max-width: 570px) {
  html {
    font-size: 14px;
  }

  .col-100 {
    width: 100%;
    margin-bottom: 2.36rem;
  }

  .contacts {
    &__button {
      display: none;
    }

    &__phone {
      margin-right: 0;
      color: $light;
      text-decoration: none;

      &::after {
        display: none;
      }
    }
  }

  .title {
    font-size: 1.64rem;
  }

  .hero {
    &__scroll-down {
      display: none;
    }

    &__content {
      max-width: 22.86rem;
    }

    &__text {
      font-size: 1.29rem;
      margin-bottom: 2.28rem;
    }

    &__button {
      display: block;
      min-width: 22.86rem;
      margin-bottom: 1.85rem;
    }
  }


  .projects {
    &__heading {
      display: block;
    }

  }
}

@media screen and (max-height: 520px) {
  .hero {
    &__scroll-down {
      display: none;
    }
  }



}