@media screen and (max-width: 1270px) {
  .nav {
    &__item {
      margin-right: 1.5rem;
    }
  }
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }

  .nav {
    &__item {
      margin-right: 1rem;
    }
  }

  .projects {
    &__text {
      &:nth-of-type(2n+1),
      &:nth-of-type(2n+2) {
        width: 50%;
      }
    }
    &__swiper-slide {
      margin-bottom: 2.57rem;
    }
  }

  .measure {
    &__text {
      &:first-of-type {
        margin-top: 9.428rem;
        margin-right: 2rem;
      }
      &:nth-of-type(2) {
        margin-top: 5.2rem;
        margin-right: 9.285rem;
      }
      &:nth-of-type(3) {
        margin-top: 10rem;
        margin-right: 4.071rem;
      }
      &:last-of-type {
        margin-top: 9.571rem;
        margin-right: 1rem;
      }
    }
    &__col {
      &--left {
        max-width: 542px;
        background: url('../img/measure/build.png') no-repeat -12.428rem 0, url('../img/measure/circle.svg') no-repeat -14.428rem 3.785rem;
      }
    }
  }

  .styles {
    &__slide-col {
      width: 24.285rem;
    }
  }
}


@media screen and (min-width: 993px) {
  .nav {
    &__item {
      transition: all 0.3s;
      &:hover {
        color: $primary;
      }
    }
  }

  .hero {
    &__scroll-down {
      ttransition: all 0.3s;
      &:hover {
        color: $primary;
      }
    }
  }

  .instagram {
    &__link {
      transition: all 0.3s;
      &:hover {
        color: $light
      }
      &:hover::after {
        background-color: $light;
      }
    }
  }


  .video {
    &__play {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .footer {
    &__button {
      transition: all 0.3s;
      &:hover {
        border-color: light;
      }
    }
  }

  .social-link {
    transition: all 0.3s;
    &--primary {
      &:hover {
        background-color: transparent;
        border-color: $light;
      }
    }
  }

  .measure {
    &__button {
      transition: all 0.3s;
      &:hover {
        border-color: $light;
      }
    }
  }

  .modal {
    &__button {
      transition: all 0.3s;
      &:hover {
        border-color: $light;
      }
    }
  }

  .toggle-button {
    &__content {
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  .styles {
    &__link {
      transition: all 0.3s;
      &::after {
        transition: all 0.3s;
      }
      &:hover {
        color: $primary;
      }
      &:hover::after {
        background-color: $primary;
      }
    }
  }

  .button {
    &:hover {
      cursor: pointer;
    }
    &--primary {
      transition: all 0.3s;
      &:hover {
        box-shadow: none;
        border-color: $light;
        background-color: transparent;
      }
    }
    &__scroll-top {
      transition: all 0.3s;
      &:hover, &:active {
        cursor: pointer;
        background-color: $light;
      }
    }
  }

  .control {
    &__button {
      transition: all 0.3s;
      &:hover {
        border-color: $primary;
        color: $primary;
      }
    }
  }

}





@media screen and (max-width: 992px) {

  .container {
    width: 90%;
  }
  .nav {
    display: none;
  }

  .hero {
    &__instagram {
      display: none;
    }

    &__content {
      margin-left: 0;
    }
  }

  .projects {
    margin-top: 0;
    padding-top: 2.571rem;
    padding-bottom: 1.857rem;
    background: none;
    background-color: $dark;
    &__section-title {
      width: 45%;
    }
    &__row {
      margin-top: -10%;
    }
    &__col {
      &--left {
        width: 50%;
      }
      &--right {
        max-width: 35.5rem;
        width: 50%;
        margin-right: 0;
      }
    }
    &__swiper-container {
      margin-left: 0;
    }
    &__swiper-slide {
      &--right {
        margin-left: 0;
        min-height: 24.428rem;
      }
    }
  }

  .control {
    padding-top: 1.857rem;
    background-color: $dark;
    color: $light;
    &__video {
      max-width: 45.357rem;
      min-height: 25rem;
    }
    &__section-title {
      margin-top: 0;
    }
    &__label {
      color: rgba(255, 255, 255, 0.5);
    }
    &__input {
      color: $light;
      &::placeholder {
        color: $light;
      }
    }
  }
  .vector-bg {
    background: none;
  }

  .types {
    padding-top: 4.142rem;
  }

  .design {
    padding-top: 3.714rem;
    padding-bottom: 2.642rem;
    background-color: $dark;
    color: $light;
    .card__title {
      color: $dark;
    }
  }

  .our-team {
    padding-top: 2.642rem;
    padding-bottom: 2.714rem;
    background: $dark;
    &__section-title {
      margin-top: 0;
    }
    &__icon {
      transform: none;
    }
    &__text {
      &--dark {
        color: $light;
      }
    }
    &__row {
      justify-content: space-between;
    }
  }

  .styles {
    &__col {
      &--right {
        width: 50%;
        height: auto;
        max-width: 53.714rem;
      }
    }
    &__swiper-container {
      position: static;
      width: 100%;
      height: 100%;
    }
    &__slide-col {
      width: 100%;
      &:last-of-type {
        display: none;
      }
    }
    &__slide-img-1 {
      margin-bottom:0;
      width: 100%;
      min-height: 340px;
      overflow: hidden;
    }
    &__slide-img-2, &__slide-img-3, &__slide-img-4 {
      display: none;
    }

    &__row {
      align-items: center;
    }
  }

  .measure {
    display: none;
  }

  .steps {
    display: none;
  }

  .our-clients {
    display: none;
  }

  .design {
    margin-bottom: 0;
  }

  .col-31, .col-30 {
    width: 33%;
  }

  .footer {
    padding-top: 2.714rem;
    background: $dark;
    &__wrap {
      width: 100%;
      margin-top: 0;
      background: $dark;
    }
  }
}




@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-31  {
    width: 100%;
    max-width: 392px;
  }

  .col-30 {
    width: 100%;
    max-width: 305px;
  }

  .types {
    padding-bottom: 0;
    &__card {
      margin-bottom: 5rem;
    }
  }

  .design {
    padding-top: 173px;
    background-color: $dark;
    &__pricetag {
      padding-left: 3.6rem;
      padding-right: 3.6rem;
    }
    &__card {
      margin-bottom: 5rem;
    }
    &__section-title {
      color: $light;
    }
    &__text {
      color: $light;
    }
    &__list {
      .card__item:nth-child(7)::after {
        content: ' ...';
      }
    }
    &__img {
      &::before {
        display: none;
      }
    }
  }

  .card {
    &__text {
      margin-left: 0;
    }
    &__item:nth-child(n+8) {
      display: none;
    }
  }

  .projects {
    &__section-title {
      width: 100%;
      max-width: 450px;
    }
    &__row {
      flex-direction: column;
      margin-top: 0;
      align-items: start;
    }
    &__col {
      &--left {
        width: 100%;
      }
      &--right {
        width: 100%;
      }
    }
    &__swiper-container {
      width: 100%;
    }
    &__swiper-slide {
      &--right {
        width: 100%;
        margin-top: 2.428rem;
        min-height: 300px;
      }
    }
  }

  .control {
    color: $light;
    &__video {
      width: auto;
      min-height: 207px;
      background-size: cover;
    }
    &__section-title {
      margin-top: 0;
    }
    &__video {
      margin-bottom: 2rem;
    }
    &__form {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 24.285rem;
    }
    &__input-group:first-of-type {
      margin-bottom: 4.5rem;
    }
    &__label {
      margin-bottom: -5px;
      color: rgba(255, 255, 255, 0.5)
    }
    &__input {
      color: $light;
      &::placeholder {
        color: $light;
      }
    }
    &__policy {
      margin-top: 1rem;
      position: relative;
      div.invalid {
        position: absolute;
        top: 32px;
        left: 25px;
      }
      &-label {
        justify-content: left;
      }
    }
    &__button {
      margin-top: 4.428rem;
      margin-bottom: -6rem;
      order: 5;
    }
    &__text {
      &::before {
        margin-bottom: 1.5rem;
      }
    }
  }

  .video {
    &__play {
      width: 55px;
    }
  }

  .our-team {
    &_row {
      flex-direction: column;
    }
    &__col {
      margin-bottom: 6.357rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__text {
      &--dark {
        display: none;
      }
    }
    &__icon {
      transform: translate(-50%,-50%);
    }
  }

  .our-clients {
    display: none;
  }


  .styles {
    background: $light;
    &::before {
      display: none;
    }
    padding-top: 28px;
    padding-bottom: 0;
    &__heading {
      text-align: center;
    }
    &__row {
      flex-direction: column;
      align-items: center
    }
    &__col {
      &--left {
        width: 100%;
      }
      &--right {
        width: 100%;
        max-width: 340px;
        margin-right: 0;
        margin-bottom: -121px;
      }
    }
    &__slide-img-1 {
      max-width: 340px;
      min-height: 242px;
    }
    &__toggle-buttons {
      display: none;
    }

    &__swiper-button-next {
      display: block;
      position: absolute;
      right: 14px;
      top: 50%
    }

    &__swiper-button-prev {
      display: block;
      position: absolute;
      left: 14px;
      top: 50%
    }

  }



  .footer {
    background-color: $dark;
    background-image: none;
    &__menu {
      display: none;
    }
    &__wrap {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__form {
      flex-direction: column;
    }
    &__policy {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 4.785rem;
      div.invalid {
        top: 16px;
        left: 25px;
      }
    }
    &__button {
      max-width: 340px;
      width: 100%;
    }
    &__input {
      &-group {
        flex-basis: 100%;
        margin-bottom: 4.428rem;
        &--full-width {
          flex-basis: 100%;
          margin-bottom: 1.571rem;
        }
      }
    }
    &__contacts {
      font-size: 1.285rem;
      order: 5;
    }
    &__map {
    height: 255px;
    }
  }

  .section {
    &-title {
      &__word {
        &::after {
          display: none;
        }
      }
    }
  }
}




@media screen and (max-width: 576px) {

  .contacts {
    &__button {
      display: none;
    }
    &__phone {
      margin-right: 0;
      color: $light;
      text-decoration: none;
      &::after {
        display: none;
      }
    }
  }

  .title {
    font-size: 1.64rem;
  }

  .hero {
    &__scroll-down {
      display: none;
    }
    &__content {
      max-width: 26.86rem;
    }
    &__text {
      font-size: 1.29rem;
      margin-bottom: 2.28rem;
    }
    &__button {
      display: block;
      width: 100%;
      max-width: 339px;
      margin-bottom: 1.85rem;
    }
  }

  .projects {
    &__heading {
      display: block;
    }
    &__swiper-slide--right {
      min-height: 202px;
    }
  }

  .control {
    &__form {
      width: 100%;
      max-width: 100%;
    }
  }

  .footer {
    &__wrap {
      padding-left: 0;
      padding-right: 0;
    }
  }
}





@media screen and (max-width: 380px) {
  .our-team {
    &__row {
      align-items: flex-end;
    }
    &__icon {
      transform: translate(-25%,-25%);
    }
  }
}
@media screen and (max-width: 325px) {
  .modal {
    &__policy {
      .policy__label {
        font-size: 1rem;
      }
    }
  }
}




@media screen and (max-height: 620px) {
  .hero {
    &__scroll-down {
      display: none;
    }
  }
}

@media screen and (max-height: 468px) {
  .modal {
    &__dialog {
      padding: 1rem 3.5rem 1rem;
    }
    &__title {
      margin-bottom: 1rem;
    }
    &__input {
      &-group {
        margin-bottom: 1.3rem;
      }
    }
    &__policy {
      margin-bottom: 1rem;
    }
    &__send-success {
      padding-top: 1.285rem;
      padding-bottom: 1.285rem;
    }
  }
}

@media screen and (max-height: 468px) and (max-width: 576px) {
  .hero {
    &__title {
      margin: 0;
    }
    &__text {
      font-size: 1.29rem;
      margin-bottom: 1.28rem;
    }
    &__button {
      margin-bottom: 0.85rem;
    }
  }
}

@media screen and (max-height: 468px) and (max-width: 768px) {
  .hero {
    &__title {
      margin: 0;
    }
    &__text {
      font-size: 1.29rem;
      margin-bottom: 1.28rem;
    }
    &__button {
      margin-bottom: 0.85rem;
    }
  }
}